@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
    font-family: 'Cabin', sans-serif;
}

nav {
    background-color: #dd5152;
    display: flex;
    height: 50px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 400px;
}

#Title {
    cursor: pointer;
}

.logo {
    width: 70px;
    height: 50px;
    background-image: url("https://i.pinimg.com/originals/0e/8f/93/0e8f9366cb396a13485588c267750ddd.gif");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}

.right {
    display: flex;
}

a {
    text-decoration: none;
    padding: 12px;
    font-size: 1rem;
}

a:hover {
    color: #560216;
    transition-delay: 0.5s;
    transition: ease;
}